body{
	background-color:#ffffff;
	color:#333333;
	font-family: "メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
	/* font-family: Windows用フォント,Mac用フォント,大まかなフォントの種類; */
	margin: 0;
	padding: 0;
}

header{
	background-color: #003366;
	color: #ffffff;
}

p{
	font-size: 90%;
	/* ↑親要素のサイズに対する割合 */
	line-height: 1.8;
}
h1{
	font-size: 180%;
}
h2{
	font-size: 120%;
	border-bottom: 1px dashed #003366;
	border-left: 10px solid #333333;
	padding-left: 7px;
}
footer{
	border-top: 5px solid #003366;
	text-align: center;
}

article{
	position: relative;
}
.catch{
	position: absolute;
	top: 20px;
	left: 30px;
	color: #ffffff;
	text-shadow: 5px 5px 10px #333333;
}

.maingazo{
	background-color: #0099ff;
}

ul{
	/* ↓・を消す */
	list-style-type: none;
	/* ↓ulは左のみ40pxのpaddingがあることがディベロッパーツールでわかった */
	padding: 0%;
}

time{
	border-radius: 10px;
	background-color: #999;
	color: #fff;
}

ul time{
	font-size: 90%;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}

nav li{
	/* ↓100〜900の数値のうち700と同じ太さ */
	font-weight: bold;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #fff;
}

header img{
	float: left;

}

article{
	/* ↓？？？ */
	clear: both;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	text-align: right;
	padding-top: 26px;
	padding-bottom: 5px;
	margin: 0;
}

.header-in{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

/* ⇩ウィンドウの幅の調整 */
@media (max-width:959px) {
	header img{
		float: none;
	}

	nav ul{
		text-align: left;
		padding: 0;
	}

	article{
		width: auto;
	}

	article img{
		max-width: 100%;
		height: auto;
	}
	.header-in{
		width: auto;
	}
}

@media (max-width:600px) {
	nav li{
		font-size: 75%;
		padding-left: 2px;
		padding-right: 2px;
	}

	.catch{
		top: 5px;
		left: 5px;
	}
}